In [45]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import json
# File to Load (Remember to Change These)
school_data = "INschoolData.csv"
test_score_data = "SchoolCorpData.csv"
income_data = "IncomeUpdate.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data)
test_score_data = pd.read_csv(test_score_data)
income_data = pd.read_csv(income_data)
# Combine the data into a single dataset
school_complete = pd.merge(school_data, test_score_data, how="left", on=["ID", "ID"])

In [46]:
school_complete

,NCES LEA ID,ID,District Name,Mailing Address,City,State,ZIP,Zip +4,Telephone,Locale codes of schools in the LEA,...,Growth Points\n (4-8),Growth Weight\n (4-8),Performance Points\n (10),Performance Weight\n (10),Growth Points\n (10-12),Growth Weight\n (10-12),Mult. Measures Points\n (12),Mult. Measures Weight\n (12),Overall Points,Overall Grade
0,1,2.0,3,4,5,NaN,6,NaN,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1800060,15.0,ADAMS CENTRAL COMMUNITY SCHOOLS,222 W WASHINGTON ST,MONROE,IN,46772,9436.0,(260) 692-6193,7,...,96.7,0.302,46.4,0.079,115.5,0.079,100.6,0.237,87.2,B
3,1800120,5265.0,ALEXANDRIA COM SCHOOL CORP,202 E WASHINGTON ST,ALEXANDRIA,IN,46001,2005.0,(765) 724-4496,3,...,82.6,0.290,29.8,0.084,69.6,0.084,100.0,0.252,73.2,C
4,1800150,5275.0,ANDERSON COMMUNITY SCHOOL CORP,1600 HILLCREST AVE,ANDERSON,IN,46011,1479.0,(765) 641-2028,"2,3,8",...,77.7,0.308,33.3,0.077,106.4,0.077,100.7,0.230,72.4,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,1802280,8665.0,WHITLEY CO CONS SCHOOLS,107 N WALNUT ST,COLUMBIA CITY,IN,46725,2021.0,(260) 244-5771,"3,8",...,94.5,0.302,47.3,0.079,79.9,0.079,100.0,0.237,81.7,B
405,1800080,9540.0,WILSON EDUCATION CTR CORP,PO BOX 217,CHARLESTOWN,IN,47111,9400.0,(812) 256-8000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,1800087,9845.0,XAVIER SCHOOL OF EXCELLENCE,850 W JACKSON BLVD STE 850,CHICAGO,IN,60607,NaN,(574) 231-6600,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,1807230,1910.0,YORKTOWN COMMUNITY SCHOOLS,2311 S BROADWAY ST,YORKTOWN,IN,47396,1399.0,(765) 759-2720,4,...,91.5,0.295,59.6,0.082,115.1,0.082,100.8,0.245,86.3,B
408,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,102.0,0.311,76.1,0.075,108.4,0.075,100.1,0.226,94.7,A

In [47]:
school_complete["Overall Grade"] = ""
school_complete.head()

,NCES LEA ID,ID,District Name,Mailing Address,City,State,ZIP,Zip +4,Telephone,Locale codes of schools in the LEA,...,Growth Points\n (4-8),Growth Weight\n (4-8),Performance Points\n (10),Performance Weight\n (10),Growth Points\n (10-12),Growth Weight\n (10-12),Mult. Measures Points\n (12),Mult. Measures Weight\n (12),Overall Points,Overall Grade
0,1,2.0,3,4,5,NaN,6,NaN,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,1800060,15.0,ADAMS CENTRAL COMMUNITY SCHOOLS,222 W WASHINGTON ST,MONROE,IN,46772,9436.0,(260) 692-6193,7,...,96.7,0.302,46.4,0.079,115.5,0.079,100.6,0.237,87.2,
3,1800120,5265.0,ALEXANDRIA COM SCHOOL CORP,202 E WASHINGTON ST,ALEXANDRIA,IN,46001,2005.0,(765) 724-4496,3,...,82.6,0.290,29.8,0.084,69.6,0.084,100.0,0.252,73.2,
4,1800150,5275.0,ANDERSON COMMUNITY SCHOOL CORP,1600 HILLCREST AVE,ANDERSON,IN,46011,1479.0,(765) 641-2028,"2,3,8",...,77.7,0.308,33.3,0.077,106.4,0.077,100.7,0.230,72.4,

In [49]:
school_income_complete = pd.merge(school_complete, income_data, how="left", on=["ZIP", "ZIP"])
school_income_complete

,NCES LEA ID,ID,District Name,Mailing Address,City,State,ZIP,Zip +4,Telephone,Locale codes of schools in the LEA,...,Performance Weight\n (10),Growth Points\n (10-12),Growth Weight\n (10-12),Mult. Measures Points\n (12),Mult. Measures Weight\n (12),Overall Points,Overall Grade,Adjust Gross Income,Number of returns,Amount
0,1,2.0,3,4,5,NaN,6,NaN,7,8,...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
1,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,,"551,529","4,150","559,279"
2,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,,13284,1020,13635
3,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,,37721,990,38523
4,1800046,9545.0,21ST CENTURY CHARTER SCH OF GARY,333 N PENNSYLVANIA SUITE 1000,INDIANAPOLIS,IN,46204,NaN,(317) 536-1027,2,...,NaN,NaN,NaN,NaN,NaN,NaN,,50494,830,51224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2756,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,0.075,108.4,0.075,100.1,0.226,94.7,,57939,1560,59367
2757,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,0.075,108.4,0.075,100.1,0.226,94.7,,81710,1320,83411
2758,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,0.075,108.4,0.075,100.1,0.226,94.7,,99923,1140,101389
2759,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,0.075,108.4,0.075,100.1,0.226,94.7,,513353,3560,520606
2760,1802830,630.0,ZIONSVILLE COMMUNITY SCHOOLS,900 MULBERRY ST,ZIONSVILLE,IN,46077,NaN,(317) 873-2858,"3,8",...,0.075,108.4,0.075,100.1,0.226,94.7,,1784854,3390,1817916